/* Include des variables SASS */
@import "settings.scss";

$largeurNav: 230px;

body {
    iframe {
        border:none;
        width: 100%; height: 170px;
    }
    header {
        height: 50px;
        background: $greyBG;
        padding: 8px 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
             -o-box-sizing: border-box;
                box-sizing: border-box;
        #logo {
            padding: 0 10px;
            width: $largeurNav;
            color: #FFFFFF;
            h3 {
                margin: 0;
            }
        }
        .form-group { margin: 0; }
    }
    #navigation {
        position: absolute;
        width: $largeurNav;
        top: 50px; left: 0; bottom: 0;
        background: $greyBG;
    }
    #content-site {
        position: absolute;
        top: 50px; left: $largeurNav; right: 0; bottom: 0;
        background: $backForm;
        .page {
            border: 1px solid $border;
            width: 100%;
            min-height: 100%;
            @include boxshadow(inset 0 0 8px rgba(0,0,0,0.1));
            padding: 20px;
            .sound {
                margin-bottom: 20px;
            }
        }
    }
}
